@import "tailwindcss";

.miniprojects-sec {
  @apply py-28 bg-[#F7CAC9] px-2;

  .container {
    @apply  mx-auto
           lg:w-9/12 lg:max-w-full;
  }

  h1 {
    @apply text-center text-3xl font-bold mb-22;
  }

  .img-container {
    @apply w-full aspect-[16/9];
  }

  .grid {
    @apply grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-6;
  }

  .card {
    @apply rounded-2xl relative overflow-hidden bg-white
    hover:-translate-y-2 transition-transform duration-300 shadow-xl;

    .details {
      @apply w-full h-full z-20  pt-2 px-4 pb-4;
    }

    h3 {
      @apply mb-2 font-bold text-xl text-teal-600;
    }

    img {
      @apply w-full h-full object-cover;
    }

    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      overflow: hidden;
      @apply mb-4;
    }

    .links {
      @apply flex;
      a{
        @apply mr-2.5;
      }

      span{
        @apply text-blue-600 font-bold mr-2;
      }
    }
  }
}
