
.split {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 10;
}

.split svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.split .shape-fill {
    fill: #F7CAC9;
}