@import "tailwindcss";

@font-face {
  font-family: 'custom';
  src: url("./assets/font/Fredoka-Medium.woff") format("woff");
  /* font-display: swap; */
}

html{
  scroll-behavior: smooth;
  font-family: "custom";
}

section {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @apply min-h-[100vh] flex relative;
}


section.Toastify{
  @apply min-h-0 h-0;
}



