@import "tailwindcss";


@font-face {
  font-family: 'custom';
  src: url("./assets/font/Fredoka-Medium.woff") format("woff");
  
}

html{
  scroll-behavior: smooth;
  font-family: "custom";
}

section {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @apply min-h-[100dvh] flex relative;
}




/* npm 
