@import "tailwindcss";

.bottom-wave {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 10;
}

.bottom-wave svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 148px;
    transform: rotateY(180deg);
}

.bottom-wave .shape-fill {
    fill: #000000;
}










.top-wave {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 10;
}

.top-wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 155px;
    transform: rotateY(180deg);
}

.top-wave .shape-fill {
    fill: #000000;
}